<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body{ background-color: rgb(43, 126, 173);}
        .image_1{
            position: relative;
            width: 500px;
            height: 350px;
            text-align: center;
        }
        .image_container{
            margin-top: 80px;
            margin-bottom: 80px;
            display: flex;
            flex-direction: row;
        }
    </style>
</head>
<body>
    <div style="padding:40px 80px; ">

        <div style="display: flex; flex-direction: row;margin-left: 0px; margin-right: 0px;">
            <div style="width: 15%; text-align: center;">
                <img src="/images/gsecure_logo.png"  width="100%"  >
            </div>
            <div style="width:70%" class="text-center">
                <h1 style="font-size:50px;font-family: Georgia, serif;color: rgba(9, 247, 255, 0.918);">Google Drive Secure</h1><br>
                <h2 style="color: white;">Storing and retriving files securely on drive with hybrid cryptography</h2>

                <br>

                <p><b>Login or Register with</b></p>

                <a href="<%=url%>" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>

            </div>
            <div style="width: 15%;text-align: center;">
                <img src="/images/logo2.png"  width="100%" >
            </div>
            
        </div>
        <div class="image_container">
            <div style="width:50%;height: auto;margin: 0 auto;padding: 10px; position: relative;">
                <div class="image_1">
                    <img src="/images/details.png"  width="100%" height="80%">
                    <h4>Security with cryptography</h4>
                </div>
            </div>
            <div style="width:50%;height: auto;margin: 0 auto;padding: 10px; position: relative;">
                <div class="image_1">
                    <img src="https://www.allthingssecured.com/wp-content/uploads/Secure-File-Transfer-Google-Drive.jpg"  width="100%" height="80%">
                    <h4></h4>
                </div>
            </div>

        </div>

    </div>
    <div>
        
    </div>
</body>
</html>